<header class="jumbotron">
  <h1>Super Rentals</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'contact'}}Contact{{/link-to}}
  {{#link-to 'about'}}About Us{{/link-to}}
  {{#link-to 'index'}}Home{{/link-to}}
</footer>
